h1 {
  color: teal;
  text-align: center;
}

input {
  width: 300px;
  display: block;
  margin: auto;
}

#printedList {
  text-align: left;
}

#removedList {
  text-align: left;
  text-decoration: line-through;
}

h4 {
  text-align: center;
}

#table {
  margin: 0px auto;
  border-spacing: 30px;
}
