h1 {
  color: teal;
  text-align: center;
}

input {
  width: 300px;
  display: block;
  margin: auto;
}

#printedList {
  text-align: center;
}

#removedList {
  text-align: right;
  vertical-align: bottom;
  text-decoration: line-through;
}